/* //////////////////////////////////////////////////////////////////////////////// */
/* Front End was developed by Mirzayev Kamal : https://github.com/mirzayevkamal */
/* /////////////////////////////////////////////////////////////////////////////// */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

:root {
  --mainBlue: #233e85;
  --mainRed: #ed1c2a;
  --smallSize: 13px;
  --dividerColor: #f5f6fa;
}

ul {
  padding: 0 !important;
  margin: 0 !important;
}

h2 {
  color: var(--mainBlue) !important;
}

.goBtn {
  display: inline-block;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 0.2rem 0.75rem;
  font-size: 1rem;
  border-radius: 150px;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

/* Header starts here */
.header-top {
  display: flex;
  justify-content: space-between;
  padding: 15px 0px;
  border-bottom: 1px solid var(--dividerColor);
  align-items: center;
}

.header-top .header-links {
  list-style: none;
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
}

.header-top .header-links li a {
  padding: 5px;
  text-decoration: none;
  color: var(--mainBlue);
  font-size: var(--smallSize);
}
.header-lang .dropdown-menu {
  min-width: 40px !important;
}

.header-lang .dropdown-menu .dropdown-item:active {
  background-color: var(--mainBlue);
}

.btn-lang {
  color: #353b48 !important;
  font-size: var(--smallSize) !important;
}

.btn-login {
  border: 1px solid var(--mainBlue) !important;
  font-size: var(--smallSize) !important;
}

.btn-login:hover {
  background-color: var(--mainBlue) !important;
  color: white !important;
}

.btn:focus {
  outline: none !important;
}

.btn-register {
  background-color: var(--mainBlue);
  color: white;
  font-size: var(--smallSize);
}

.header-main {
  display: flex;
  justify-content: space-between;
  margin: 20px 0px;
  align-items: center;
}

.header-main .header-logo img {
  width: 200px;
}

.header-main nav ul {
  list-style: none;
  display: flex;
  align-items: center;
}

.header-main nav ul li a {
  text-decoration: none;
  padding: 20px;
  color: var(--mainBlue);
}

.header-main nav ul li a:hover {
  color: var(--mainRed);
}

@media screen and (max-width: 950px) {
  .header-top {
    padding: 10px 0px;
  }

  .header-top .header-links {
    display: none;
  }

  .header-top .header-top-btns {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  .hamburger-menu {
    transform: translate(0px, -5px);
  }

  .hamburger-menu span:nth-child(1) {
    display: block;
    width: 30px;
    height: 2px;
    background-color: var(--mainBlue);
  }
  .hamburger-menu span:nth-child(2) {
    display: block;
    width: 30px;
    height: 2px;
    background-color: var(--mainBlue);
    transform: translate(0px, 5px);
  }
  .hamburger-menu span:nth-child(3) {
    display: block;
    width: 30px;
    height: 2px;
    background-color: var(--mainBlue);
    transform: translate(0px, 10px);
  }

  .header-main {
    margin: 15px 0px;
  }

  .header-main .header-logo img {
    width: 150px;
  }

  .header-main nav {
    display: none;
    position: absolute;
    z-index: 99999999;
    top: 110px;
    background-color: var(--mainBlue);
    right: 0;
    padding: 20px;
    width: 100%;
    height: auto;
    box-shadow: 0px 4px 13px 0px #00000066;
    /* animation: animateNav 0.5s cubic-bezier(0.075, 0.82, 0.165, 1); */
  }

  /* @keyframes animatNav {
    from {
      opacity: 0;
      transform: translate(-50x, 0px);
    }
    to {
      opacity: 1;
      transform: translate(0x, 0px);
    }
  } */

  .header-main ul {
    display: flex;
    flex-direction: column;
  }

  .header-main ul li {
    padding: 10px;
  }

  .header-main ul li a {
    color: white !important;
  }
}
/* Header ends here */

/* Main starts here  */
.main-carousel {
  background: url("https://goex.az/storage/sliders/AcnRzfcXOuqld5bUUYc3TpaVmwRskokuAV3Qc9jh.png") !important;
  height: 520px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.main-carousel .main-carousel-wrapper {
  padding: 40px 0px;
}

.main-carousel .owl-item .item {
  display: flex !important;
}

.main-carousel .main-carousel-text {
  display: block;
  animation: animateCarText 0.5s cubic-bezier(0.19, 1, 0.22, 1);
}

@keyframes animateCarText {
  from {
    opacity: 0;
    transform: translate(0px, -50px);
  }
  to {
    opacity: 1;
    transform: translate(0px, 0px);
  }
}

.main-carousel .main-carousel-text h1 {
  font-size: 55px;
  color: white;
  font-weight: bold;
}

.main-carousel .main-carousel-text p {
  color: rgb(247, 247, 247);
  font-weight: 300;
  padding: 20px 0px;
}

.btn-more {
  background: white;
  color: var(--mainRed);
  padding: 8px 20px;
}

@media screen and (max-width: 950px) {
  .main-carousel .main-carousel-text {
    text-align: center;
  }
  .main-carousel .main-carousel-text h1 {
    padding-top: 25px;
    font-size: 25px;
    color: white;
    font-weight: bold;
  }

  .main-carousel .main-carousel-text p {
    padding: 10px 0px;
  }

  .btn-more {
    background: white;
    color: var(--mainRed);
    padding: 8px 20px;
  }
}

.services .card {
  box-shadow: 0px 11px 13px -4px #00000012;
  transition: 0.6s cubic-bezier(0.19, 1, 0.22, 1);
  margin: 10px;
  transition: 0.4s cubic-bezier(0.19, 1, 0.22, 1);
}

.services .card:hover {
  transition: 0.4s cubic-bezier(0.19, 1, 0.22, 1);
  transform: translate(0px, -10px);
}

.services .card:hover {
  box-shadow: 0px 11px 13px -4px #00000033;
  transition: 0.6s cubic-bezier(0.19, 1, 0.22, 1);
}

.services .services-icon {
  text-align: center;
  background: var(--mainBlue);
  width: 100px;
  height: 100px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100px;
}

/* .services .services-icon .fa-person-carry {
  font-size: 60px;
  color: white;
} */

.services .services-text p {
  font-weight: 300;
  font-size: 14px;
}

.tariffs {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='600' preserveAspectRatio='none' viewBox='0 0 1440 600'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1081%26quot%3b)' fill='none'%3e%3crect width='343.72' height='343.72' clip-path='url(%26quot%3b%23SvgjsClipPath1082%26quot%3b)' x='271.54' y='77.23' fill='url(%23SvgjsPattern1083)' transform='rotate(10.02%2c 443.4%2c 249.09)'%3e%3c/rect%3e%3cpath d='M1234.21 105.62 L1269.73 121.17L1231.9400954510309 133.42490454896918z' fill='rgba(237%2c 28%2c 42%2c 1)'%3e%3c/path%3e%3cpath d='M190.82 487.58L187.29 475.27 198.52 469.12 194.99 456.81 206.22 450.66 202.69 438.35 213.92 432.2M198.2 490.66L194.67 478.35 205.9 472.2 202.37 459.89 213.61 453.74 210.07 441.43 221.31 435.29M205.58 493.74L202.05 481.43 213.29 475.28 209.75 462.97 220.99 456.82 217.46 444.51 228.69 438.37' stroke='rgba(35%2c 62%2c 133%2c 1)' stroke-width='1.17'%3e%3c/path%3e%3crect width='168' height='168' clip-path='url(%26quot%3b%23SvgjsClipPath1084%26quot%3b)' x='1314.17' y='119.8' fill='url(%23SvgjsPattern1085)' transform='rotate(212.72%2c 1398.17%2c 203.8)'%3e%3c/rect%3e%3crect width='204' height='204' clip-path='url(%26quot%3b%23SvgjsClipPath1086%26quot%3b)' x='1329.23' y='68.3' fill='url(%23SvgjsPattern1087)' transform='rotate(227.68%2c 1431.23%2c 170.3)'%3e%3c/rect%3e%3cpath d='M918.68 289.42a5.6 5.6 0 1 0 4.92-10.07 5.6 5.6 0 1 0-4.92 10.07zM925.71 275.04a5.6 5.6 0 1 0 4.91-10.06 5.6 5.6 0 1 0-4.91 10.06zM932.73 260.66a5.6 5.6 0 1 0 4.92-10.06 5.6 5.6 0 1 0-4.92 10.06zM939.75 246.29a5.6 5.6 0 1 0 4.92-10.07 5.6 5.6 0 1 0-4.92 10.07zM919.01 325.19a5.6 5.6 0 1 0 4.92-10.06 5.6 5.6 0 1 0-4.92 10.06zM926.03 310.81a5.6 5.6 0 1 0 4.92-10.06 5.6 5.6 0 1 0-4.92 10.06zM933.06 296.44a5.6 5.6 0 1 0 4.91-10.06 5.6 5.6 0 1 0-4.91 10.06zM940.08 282.06a5.6 5.6 0 1 0 4.92-10.06 5.6 5.6 0 1 0-4.92 10.06z' stroke='rgba(35%2c 62%2c 133%2c 1)' stroke-width='2.09' stroke-dasharray='3%2c 3'%3e%3c/path%3e%3cpath d='M1330.16 324.49 L1314.65 297.88L1337.8197996984334 295.7702003015669z' stroke='rgba(35%2c 62%2c 133%2c 1)' stroke-width='2.92' stroke-dasharray='4%2c 4'%3e%3c/path%3e%3cpath d='M532.35 123.36a5.6 5.6 0 1 0-2.99 10.79 5.6 5.6 0 1 0 2.99-10.79zM528.08 138.78a5.6 5.6 0 1 0-2.99 10.79 5.6 5.6 0 1 0 2.99-10.79zM523.81 154.2a5.6 5.6 0 1 0-2.99 10.79 5.6 5.6 0 1 0 2.99-10.79zM519.53 169.62a5.6 5.6 0 1 0-2.99 10.79 5.6 5.6 0 1 0 2.99-10.79zM525.48 88.25a5.6 5.6 0 1 0-2.99 10.79 5.6 5.6 0 1 0 2.99-10.79zM521.21 103.67a5.6 5.6 0 1 0-2.99 10.79 5.6 5.6 0 1 0 2.99-10.79zM516.93 119.09a5.6 5.6 0 1 0-2.99 10.79 5.6 5.6 0 1 0 2.99-10.79zM512.66 134.5a5.6 5.6 0 1 0-2.99 10.8 5.6 5.6 0 1 0 2.99-10.8z' stroke='rgba(237%2c 28%2c 42%2c 1)' stroke-width='1.18' stroke-dasharray='3%2c 2'%3e%3c/path%3e%3cpath d='M686.09 415.48L675.94 423.28 666.1 415.09 655.94 422.89 646.1 414.7 635.95 422.5 626.11 414.31M686.25 407.48L676.1 415.29 666.25 407.09 656.1 414.9 646.26 406.7 636.1 414.5 626.26 406.31' stroke='rgba(35%2c 62%2c 133%2c 1)' stroke-width='1.46' stroke-dasharray='4%2c 4'%3e%3c/path%3e%3crect width='336' height='336' clip-path='url(%26quot%3b%23SvgjsClipPath1088%26quot%3b)' x='368.68' y='165.07' fill='url(%23SvgjsPattern1089)' transform='rotate(13.05%2c 536.68%2c 333.07)'%3e%3c/rect%3e%3cpath d='M56.96 364.8L59.42 377.37 47.71 382.53 50.17 395.1 38.45 400.26 40.92 412.83 29.2 418M49.86 361.1L52.33 373.67 40.61 378.83 43.08 391.4 31.36 396.56 33.83 409.13 22.11 414.3' stroke='rgba(237%2c 28%2c 42%2c 1)' stroke-width='1'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1081'%3e%3crect width='1440' height='600' fill='white'%3e%3c/rect%3e%3c/mask%3e%3cpattern x='0' y='0' width='13.22' height='13.22' patternUnits='userSpaceOnUse' id='SvgjsPattern1083'%3e%3cpath d='M6.61 1L6.61 12.22M1 6.61L12.22 6.61' stroke='rgba(35%2c 62%2c 133%2c 1)' fill='none' stroke-width='1'%3e%3c/path%3e%3c/pattern%3e%3cclipPath id='SvgjsClipPath1082'%3e%3ccircle r='85.93' cx='443.4' cy='249.09'%3e%3c/circle%3e%3c/clipPath%3e%3cpattern x='0' y='0' width='6' height='6' patternUnits='userSpaceOnUse' id='SvgjsPattern1085'%3e%3cpath d='M3 1L3 5M1 3L5 3' stroke='rgba(237%2c 28%2c 42%2c 1)' fill='none' stroke-width='1'%3e%3c/path%3e%3c/pattern%3e%3cclipPath id='SvgjsClipPath1084'%3e%3ccircle r='42' cx='1398.17' cy='203.8'%3e%3c/circle%3e%3c/clipPath%3e%3cpattern x='0' y='0' width='6' height='6' patternUnits='userSpaceOnUse' id='SvgjsPattern1087'%3e%3cpath d='M3 1L3 5M1 3L5 3' stroke='rgba(35%2c 62%2c 133%2c 1)' fill='none' stroke-width='1'%3e%3c/path%3e%3c/pattern%3e%3cclipPath id='SvgjsClipPath1086'%3e%3ccircle r='51' cx='1431.23' cy='170.3'%3e%3c/circle%3e%3c/clipPath%3e%3cpattern x='0' y='0' width='6' height='6' patternUnits='userSpaceOnUse' id='SvgjsPattern1089'%3e%3cpath d='M0 6L3 0L6 6' stroke='rgba(237%2c 28%2c 42%2c 1)' fill='none'%3e%3c/path%3e%3c/pattern%3e%3cclipPath id='SvgjsClipPath1088'%3e%3ccircle r='84' cx='536.68' cy='333.07'%3e%3c/circle%3e%3c/clipPath%3e%3c/defs%3e%3c/svg%3e");
  background-position: center;
  background-size: cover;
}

.tariffs table {
  border-radius: 10px !important;
  background: #ed1c2a; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #ed1c2abe,
    #ed1c2a
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #ed1c2abe, #ed1c2a);
}

.tariffs thead th {
  color: white;
}

.tariffs tbody {
  background: white;
  border-radius: 10px !important;
  font-weight: 600;
  color: var(--mainBlue);
}

.tariffs .tariff-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
  border: 1px solid var(--mainRed);
}

.tariffs .tariff-btn:hover {
  background: var(--mainRed);
  color: white;
}

.tariffs form {
  color: white;
  background: #ed1c2a; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #ed1c2abe,
    #ed1c2a
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #ed1c2abe,
    #ed1c2a
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  padding: 15px;
  border-radius: 10px;
}

.form-control {
  color: var(--mainBlue) !important;
}

.form-control:focus {
  color: var(--mainBlue) !important;
  background-color: #fff !important;
  border-color: #ed1c2a4b !important;
  outline: 0;
  box-shadow: 0 0 0 0.25rem #ed1c2a49 !important;
}

option {
  background: var(--mainBlue) !important;
  color: white !important;
}

input:focus {
  outline: none !important;
}

.tariffs form h6 {
  color: white;
}

.btn-calculate {
  color: var(--mainRed);
  background: white;
  width: 100%;
  padding: 15px 0px;
  border-radius: 6px;
  font-size: 18px;
  font-weight: bold;
}

.tariffs .calculated-price {
  font-size: 50px;
}

.tariffs .calculated-price span {
  font-size: 30px;
}

.tariffs .calculate-form {
  margin-top: 48px;
}

@media screen and (max-width: 768px) {
  .tariffs .calculate-form {
    margin-top: 0px;
  }

  .c-margin {
    margin-top: 25px;
  }
}

.services {
  background: #f8f8f8;
}

.news .card {
  border: none;
  border-radius: 10px !important;
  box-shadow: 0px 11px 13px -4px #00000033;
  margin: 20px;
  transition: 0.4s cubic-bezier(0.19, 1, 0.22, 1);
}

.news .card:hover {
  transform: translate(0px, -10px);
  transition: 0.4s cubic-bezier(0.19, 1, 0.22, 1);
}

.news .card .card-img-top {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  height: 250px;
  object-fit: cover;
}

.news .card .card-title {
  color: var(--mainBlue);
  font-size: 19px;
  font-weight: 600;
}

.news .card .card-text {
  font-size: 15px !important;
  font-weight: 300 !important;
  color: var(--mainBlue);
  text-align: justify;
}

.shops {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='800' preserveAspectRatio='none' viewBox='0 0 1440 800'%3e%3cg mask='url(%26quot%3b%23SvgjsMask5096%26quot%3b)' fill='none'%3e%3crect width='204' height='204' clip-path='url(%26quot%3b%23SvgjsClipPath5097%26quot%3b)' x='1145.37' y='-101.49' fill='url(%23SvgjsPattern5098)' transform='rotate(102.93%2c 1247.37%2c 0.51)'%3e%3c/rect%3e%3cpath d='M989.36 683.64a5.6 5.6 0 1 0-6.2 9.33 5.6 5.6 0 1 0 6.2-9.33zM980.51 696.97a5.6 5.6 0 1 0-6.2 9.33 5.6 5.6 0 1 0 6.2-9.33zM971.65 710.3a5.6 5.6 0 1 0-6.19 9.33 5.6 5.6 0 1 0 6.19-9.33zM962.8 723.62a5.6 5.6 0 1 0-6.2 9.33 5.6 5.6 0 1 0 6.2-9.33zM993.73 648.13a5.6 5.6 0 1 0-6.19 9.33 5.6 5.6 0 1 0 6.19-9.33zM984.88 661.46a5.6 5.6 0 1 0-6.2 9.33 5.6 5.6 0 1 0 6.2-9.33zM976.03 674.79a5.6 5.6 0 1 0-6.2 9.33 5.6 5.6 0 1 0 6.2-9.33zM967.18 688.12a5.6 5.6 0 1 0-6.2 9.32 5.6 5.6 0 1 0 6.2-9.32zM998.11 612.62a5.6 5.6 0 1 0-6.2 9.33 5.6 5.6 0 1 0 6.2-9.33zM989.26 625.95a5.6 5.6 0 1 0-6.2 9.33 5.6 5.6 0 1 0 6.2-9.33zM980.4 639.28a5.6 5.6 0 1 0-6.19 9.33 5.6 5.6 0 1 0 6.19-9.33zM971.55 652.61a5.6 5.6 0 1 0-6.19 9.33 5.6 5.6 0 1 0 6.19-9.33z' stroke='rgba(237%2c 28%2c 42%2c 1)' stroke-width='2.41'%3e%3c/path%3e%3crect width='86.8' height='86.8' clip-path='url(%26quot%3b%23SvgjsClipPath5099%26quot%3b)' x='512.45' y='479.16' fill='url(%23SvgjsPattern5100)' transform='rotate(152.77%2c 555.85%2c 522.56)'%3e%3c/rect%3e%3crect width='113.4' height='113.4' clip-path='url(%26quot%3b%23SvgjsClipPath5101%26quot%3b)' x='1196.56' y='384.16' fill='url(%23SvgjsPattern5102)' transform='rotate(268.14%2c 1253.26%2c 440.86)'%3e%3c/rect%3e%3crect width='137.52' height='137.52' clip-path='url(%26quot%3b%23SvgjsClipPath5103%26quot%3b)' x='1046.82' y='195.43' fill='url(%23SvgjsPattern5104)' transform='rotate(74.47%2c 1115.58%2c 264.19)'%3e%3c/rect%3e%3cpath d='M1419.5 126.14L1407.99 131.75 1399.99 121.75 1388.48 127.36 1380.48 117.36 1368.97 122.97 1360.97 112.97' stroke='rgba(35%2c 62%2c 133%2c 1)' stroke-width='2.76' stroke-dasharray='4%2c 4'%3e%3c/path%3e%3cpath d='M12.26 628.14a5.6 5.6 0 1 0 5-10.02 5.6 5.6 0 1 0-5 10.02zM19.4 613.82a5.6 5.6 0 1 0 5-10.02 5.6 5.6 0 1 0-5 10.02zM26.55 599.51a5.6 5.6 0 1 0 5-10.03 5.6 5.6 0 1 0-5 10.03zM33.69 585.19a5.6 5.6 0 1 0 5-10.02 5.6 5.6 0 1 0-5 10.02zM12.29 663.92a5.6 5.6 0 1 0 5-10.03 5.6 5.6 0 1 0-5 10.03zM19.43 649.6a5.6 5.6 0 1 0 5-10.02 5.6 5.6 0 1 0-5 10.02zM26.58 635.28a5.6 5.6 0 1 0 5-10.02 5.6 5.6 0 1 0-5 10.02zM33.72 620.97a5.6 5.6 0 1 0 5-10.03 5.6 5.6 0 1 0-5 10.03z' stroke='rgba(35%2c 62%2c 133%2c 1)' stroke-width='1.96' stroke-dasharray='4%2c 4'%3e%3c/path%3e%3crect width='60' height='60' clip-path='url(%26quot%3b%23SvgjsClipPath5105%26quot%3b)' x='98.94' y='598.58' fill='url(%23SvgjsPattern5106)' transform='rotate(233.09%2c 128.94%2c 628.58)'%3e%3c/rect%3e%3cpath d='M1191.66 139.27L1188.9 126.77 1200.5 121.33 1197.74 108.83 1209.34 103.39 1206.58 90.89 1218.18 85.45M1198.83 142.81L1196.08 130.3 1207.67 124.87 1204.92 112.36 1216.51 106.93 1213.76 94.42 1225.35 88.99M1206.01 146.35L1203.25 133.84 1214.85 128.4 1212.09 115.9 1223.69 110.46 1220.93 97.96 1232.53 92.52' stroke='rgba(35%2c 62%2c 133%2c 1)' stroke-width='1.18'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask5096'%3e%3crect width='1440' height='800' fill='white'%3e%3c/rect%3e%3c/mask%3e%3cpattern x='0' y='0' width='6' height='6' patternUnits='userSpaceOnUse' id='SvgjsPattern5098'%3e%3cpath d='M3 1L3 5M1 3L5 3' stroke='rgba(35%2c 62%2c 133%2c 1)' fill='none' stroke-width='1'%3e%3c/path%3e%3c/pattern%3e%3cclipPath id='SvgjsClipPath5097'%3e%3ccircle r='51' cx='1247.37' cy='0.51'%3e%3c/circle%3e%3c/clipPath%3e%3cpattern x='0' y='0' width='8.68' height='8.68' patternUnits='userSpaceOnUse' id='SvgjsPattern5100'%3e%3cpath d='M4.34 1L4.34 7.68M1 4.34L7.68 4.34' stroke='rgba(237%2c 28%2c 42%2c 1)' fill='none' stroke-width='2.14'%3e%3c/path%3e%3c/pattern%3e%3cclipPath id='SvgjsClipPath5099'%3e%3ccircle r='21.7' cx='555.85' cy='522.56'%3e%3c/circle%3e%3c/clipPath%3e%3cpattern x='0' y='0' width='11.34' height='11.34' patternUnits='userSpaceOnUse' id='SvgjsPattern5102'%3e%3cpath d='M5.67 1L5.67 10.34M1 5.67L10.34 5.67' stroke='rgba(35%2c 62%2c 133%2c 1)' fill='none' stroke-width='3.75'%3e%3c/path%3e%3c/pattern%3e%3cclipPath id='SvgjsClipPath5101'%3e%3ccircle r='28.35' cx='1253.26' cy='440.86'%3e%3c/circle%3e%3c/clipPath%3e%3cpattern x='0' y='0' width='7.64' height='7.64' patternUnits='userSpaceOnUse' id='SvgjsPattern5104'%3e%3cpath d='M3.82 1L3.82 6.64M1 3.82L6.64 3.82' stroke='rgba(237%2c 28%2c 42%2c 1)' fill='none' stroke-width='1.63'%3e%3c/path%3e%3c/pattern%3e%3cclipPath id='SvgjsClipPath5103'%3e%3ccircle r='34.38' cx='1115.58' cy='264.19'%3e%3c/circle%3e%3c/clipPath%3e%3cpattern x='0' y='0' width='6' height='6' patternUnits='userSpaceOnUse' id='SvgjsPattern5106'%3e%3cpath d='M3 1L3 5M1 3L5 3' stroke='rgba(237%2c 28%2c 42%2c 1)' fill='none' stroke-width='1'%3e%3c/path%3e%3c/pattern%3e%3cclipPath id='SvgjsClipPath5105'%3e%3ccircle r='15' cx='128.94' cy='628.58'%3e%3c/circle%3e%3c/clipPath%3e%3c/defs%3e%3c/svg%3e");
  background-position: center;
  background-size: cover;
}

.shops-carousel a {
  display: grid;
  align-items: center;
  justify-content: center;
  padding: 15px;
  width: 120px;
  height: 120px;
  border-radius: 100px;
  box-shadow: 0px 11px 13px -4px #00000033;
  background: white;
}

.shops-carousel img {
  width: 80px;
}

.shops-carousel .owl-item {
  height: 200px;
}

.partners-carousel a {
  display: grid;
  align-items: center;
  justify-content: center;
  padding: 15px;
  width: 150px;
  border-radius: 10px;
  box-shadow: 0px 11px 13px -4px #00000033;
  background: white;
  transition: 0.4s cubic-bezier(0.19, 1, 0.22, 1);
}

.partners-carousel img {
  width: 80px;
  opacity: 0.2;
  transition: 0.4s cubic-bezier(0.19, 1, 0.22, 1);
}

.partners-carousel a:hover img {
  opacity: 1;
  transition: 0.4s cubic-bezier(0.19, 1, 0.22, 1);
}

.partners-carousel .owl-item {
  height: 200px;
}

footer {
  background: var(--mainBlue);
  padding-top: 50px;
}

.footer-logo img {
  width: 200px;
}

.footer-social {
  margin: 15px 0px;
}

.footer-social ul {
  list-style: none;
  display: flex;
}

.footer-social ul li a {
  margin: 5px;
  border: 1px solid white;
  width: 35px;
  height: 35px;
  border-radius: 150px;
  display: grid;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  transition: 0.4s cubic-bezier(0.19, 1, 0.22, 1);
}

.footer-social ul li a:hover {
  background: white;
  color: var(--mainBlue);
  transition: 0.4s cubic-bezier(0.19, 1, 0.22, 1);
}

.footer-social ul li a {
  font-size: 17px;
  color: white;
}

.footer-contact ul {
  list-style: none;
}

.footer-contact ul li {
  margin: 10px 0px;
}

.footer-contact ul li a {
  font-size: 17px;
  color: white;
  text-decoration: none;
  font-weight: 200;
}

footer h5 {
  color: white;
}

.footer-menu ul {
  list-style: none;
}

.footer-menu ul li {
  margin: 8px 0px;
}

.footer-menu ul li a {
  font-size: 17px;
  color: white;
  text-decoration: none;
  font-weight: 200;
}

.footer-menu ul li a:hover {
  color: var(--mainRed);
}

.footer-help ul {
  list-style: none;
}

.footer-help ul li {
  margin: 8px 0px;
}

.footer-help ul li a {
  font-size: 17px;
  color: white;
  text-decoration: none;
  font-weight: 200;
}

.footer-help ul li a:hover {
  color: var(--mainRed);
}

.footer-end {
  border-top: 1px solid rgba(255, 255, 255, 0.274);
  color: white;
  font-weight: 200;
  padding: 8px 0px;
  margin-top: 20px;
}

.about-image {
  width: 60%;
  margin: auto;
  display: grid;
  align-items: center;
  justify-content: flex-end;
  height: 100%;
}

@media screen and (max-width: 768px) {
  .about-image {
    width: 100%;
    margin-bottom: 20px;
  }
}

.contact-page {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='800' preserveAspectRatio='none' viewBox='0 0 1440 800'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1221%26quot%3b)' fill='none'%3e%3crect width='272.48' height='272.48' clip-path='url(%26quot%3b%23SvgjsClipPath1222%26quot%3b)' x='309.67' y='253.93' fill='url(%23SvgjsPattern1223)' transform='rotate(8.8%2c 445.91%2c 390.17)'%3e%3c/rect%3e%3cpath d='M569.5 723.55a5.6 5.6 0 1 0-10.69-3.35 5.6 5.6 0 1 0 10.69 3.35zM554.23 718.76a5.6 5.6 0 1 0-10.68-3.35 5.6 5.6 0 1 0 10.68 3.35zM538.97 713.97a5.6 5.6 0 1 0-10.69-3.35 5.6 5.6 0 1 0 10.69 3.35zM523.7 709.18a5.6 5.6 0 1 0-10.69-3.35 5.6 5.6 0 1 0 10.69 3.35zM604.82 717.87a5.6 5.6 0 1 0-10.68-3.36 5.6 5.6 0 1 0 10.68 3.36zM589.56 713.08a5.6 5.6 0 1 0-10.69-3.36 5.6 5.6 0 1 0 10.69 3.36zM574.29 708.29a5.6 5.6 0 1 0-10.69-3.36 5.6 5.6 0 1 0 10.69 3.36zM559.02 703.5a5.6 5.6 0 1 0-10.68-3.36 5.6 5.6 0 1 0 10.68 3.36z' fill='rgba(237%2c 28%2c 42%2c 1)'%3e%3c/path%3e%3ccircle r='103.3915739802066' cx='831.55' cy='472.7' stroke='rgba(237%2c 28%2c 42%2c 1)' stroke-width='1' stroke-dasharray='4%2c 4'%3e%3c/circle%3e%3crect width='144.48' height='144.48' clip-path='url(%26quot%3b%23SvgjsClipPath1224%26quot%3b)' x='151.53' y='375.11' fill='url(%23SvgjsPattern1225)' transform='rotate(130.68%2c 223.77%2c 447.35)'%3e%3c/rect%3e%3cpath d='M1361.8600000000001 832.06 L1275.3600000000001 677.79L1229.6905356388652 843.8444643611349z' stroke='rgba(237%2c 28%2c 42%2c 1)' stroke-width='1.65'%3e%3c/path%3e%3cpath d='M406.39 740.9 L412.98 633.16L362.1813426256669 639.5263426256669z' stroke='rgba(237%2c 28%2c 42%2c 1)' stroke-width='1'%3e%3c/path%3e%3crect width='384' height='384' clip-path='url(%26quot%3b%23SvgjsClipPath1226%26quot%3b)' x='17.8' y='481.39' fill='url(%23SvgjsPattern1227)' transform='rotate(48.3%2c 209.8%2c 673.39)'%3e%3c/rect%3e%3cpath d='M383.77 553.66L394.85 547.24 403.54 556.64 414.63 550.23 423.32 559.63 434.4 553.21 443.1 562.61M382.57 561.57L393.66 555.15 402.35 564.56 413.43 558.14 422.13 567.54 433.21 561.12 441.9 570.52M381.38 569.48L392.46 563.06 401.16 572.47 412.24 566.05 420.93 575.45 432.01 569.03 440.71 578.43' stroke='rgba(237%2c 28%2c 42%2c 1)' stroke-width='1.45' stroke-dasharray='2%2c 2'%3e%3c/path%3e%3crect width='176.4' height='176.4' clip-path='url(%26quot%3b%23SvgjsClipPath1228%26quot%3b)' x='659.15' y='435.12' fill='url(%23SvgjsPattern1229)' transform='rotate(299.9%2c 747.35%2c 523.32)'%3e%3c/rect%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1221'%3e%3crect width='1440' height='800' fill='white'%3e%3c/rect%3e%3c/mask%3e%3cpattern x='0' y='0' width='10.48' height='10.48' patternUnits='userSpaceOnUse' id='SvgjsPattern1223'%3e%3cpath d='M0 10.48L5.24 0L10.48 10.48' stroke='rgba(237%2c 28%2c 42%2c 1)' fill='none'%3e%3c/path%3e%3c/pattern%3e%3cclipPath id='SvgjsClipPath1222'%3e%3ccircle r='68.12' cx='445.91' cy='390.17'%3e%3c/circle%3e%3c/clipPath%3e%3cpattern x='0' y='0' width='12.04' height='12.04' patternUnits='userSpaceOnUse' id='SvgjsPattern1225'%3e%3cpath d='M0 12.04L6.02 0L12.04 12.04' stroke='rgba(237%2c 28%2c 42%2c 1)' fill='none'%3e%3c/path%3e%3c/pattern%3e%3cclipPath id='SvgjsClipPath1224'%3e%3ccircle r='36.12' cx='223.77' cy='447.35'%3e%3c/circle%3e%3c/clipPath%3e%3cpattern x='0' y='0' width='384' height='6' patternUnits='userSpaceOnUse' id='SvgjsPattern1227'%3e%3crect width='384' height='3' x='0' y='0' fill='rgba(237%2c 28%2c 42%2c 1)'%3e%3c/rect%3e%3crect width='384' height='3' x='0' y='3' fill='rgba(0%2c 0%2c 0%2c 0)'%3e%3c/rect%3e%3c/pattern%3e%3cclipPath id='SvgjsClipPath1226'%3e%3ccircle r='96' cx='209.8' cy='673.39'%3e%3c/circle%3e%3c/clipPath%3e%3cpattern x='0' y='0' width='12.6' height='12.6' patternUnits='userSpaceOnUse' id='SvgjsPattern1229'%3e%3cpath d='M0 12.6L6.3 0L12.6 12.6' stroke='rgba(35%2c 62%2c 133%2c 1)' fill='none'%3e%3c/path%3e%3c/pattern%3e%3cclipPath id='SvgjsClipPath1228'%3e%3ccircle r='44.1' cx='747.35' cy='523.32'%3e%3c/circle%3e%3c/clipPath%3e%3c/defs%3e%3c/svg%3e");
}

.contact-details ul {
  list-style: none;
}

.contact-details ul li {
  margin: 5px 0px;
  display: flex;
  align-items: center;
}

.contact-details ul li span {
  margin-left: 5px;
  font-weight: 400;
  color: grey;
}

.contact-details ul li i {
  width: 40px;
  height: 40px;
  border-radius: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--mainRed);
  /* background: var(--mainRed); */
  opacity: 0.7;
  font-weight: bold;
  font-size: 18px;
}

.contact-page form button {
  font-weight: bold;
  color: var(--mainBlue);
}

/* Main ends here */

/* //////////////////////////////////////////////////////////////////////////////// */
/* Front End was developed by Mirzayev Kamal : https://github.com/mirzayevkamal */
/* /////////////////////////////////////////////////////////////////////////////// */
